---
layout: default
title: ""
permalink: /sitemap/
---

<style>
    .sitemap-container {
        max-width: 800px;
        margin: 20px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
    }

    /* Style for the H1 title to center it */
    .sitemap-container h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sitemap-section {
        margin-bottom: 30px;
    }

    .sitemap-section h2 {
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .sitemap-list {
        list-style: none;
        padding-left: 0;
    }

    .sitemap-list li {
        margin-bottom: 8px;
    }

    .sitemap-list a {
        text-decoration: none;
    }

    .sitemap-list a:hover {
        text-decoration: underline;
    }

    /* Media query for responsiveness */
    @media (max-width: 768px) {
        .sitemap-container {
            margin: 10px 10px;
            padding: 20px;
            box-sizing: border-box;
        }
    }
</style>

<div class="sitemap-container">
    <h1>Sitemap</h1>

    <div class="sitemap-section">
        <h2>Pages</h2>
        <ul class="sitemap-list">
            {% for page in site.pages %} {% assign is_in_pages_folder = false %}
            {% if page.path contains '_pages/' %} {% assign is_in_pages_folder =
            true %} {% endif %} {% comment %} Only include pages from _pages
            folder, with sitemap: true, and exclude sitemap/404 pages {%
            endcomment %} {% if is_in_pages_folder and page.sitemap == true and
            page.url != "/sitemap/" and page.url != "/404.html" %}
            <li>
                {% assign display_name = page.title %} {% if display_name == ""
                or display_name == nil %} {% if page.url == "/" %} {% assign
                display_name = "Home" %} {% else %} {% assign segments =
                page.url | split: '/' %} {% assign last_valuable_segment = "" %}
                {% for segment in segments reversed %} {% if segment != "" %} {%
                assign last_valuable_segment = segment %} {% break %} {% endif
                %} {% endfor %} {% if last_valuable_segment != "" %} {% assign
                display_name = last_valuable_segment | remove: '.html' |
                replace: '-', ' ' | capitalize %} {% else %} {% assign
                page_basename_no_ext = page.basename | remove: page.extname %}
                {% assign display_name = page_basename_no_ext | replace: '-', '
                ' | capitalize %} {% endif %} {% endif %} {% endif %} {% if
                display_name == "" or display_name == nil %} {% assign
                display_name = page.url %} {% endif %}
                <a href="{{ page.url | relative_url }}">{{ display_name }}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</div>
