---
layout: custom_default
title: ""
author_profile: false
redirect_from:
    - /test/
    - /test.html
    - /test.md
---

<div class="cover-image-container">
    <img src="{{ '/images/dna_virus.jpg' | relative_url }}" alt="Cover Image" />
    <div class="cover-text-overlay">
        <h1>Transforming Tropical Horticulture Through Advanced Research</h1>
        <p>
            We are driving transformative changes through advanced research to
            unlock the full potential of tropical agriculture. We develop and
            apply the latest scientific advancements for more productive and
            sustainable agriculture. Our work is revolutionizing the cultivation
            of tropical crops, leading to enhanced sustainability, increased
            yields, and shaping the future of agriculture in the tropics
        </p>
        <a href="#discover-more" class="btn btn--primary">Discover More</a>
    </div>
</div>

<section class="custom-feature-section" id="discover-more">
    {% include custom_include.html image_url="/images/profile.jpg"
    image_alt="Ridwan Labs Profile" header_text="Ridwan Labs" paragraph_text="We
    are driving transformative changes through advanced research to unlock the
    full potential of tropical agriculture. We develop and apply the latest
    scientific advancements for more productive and sustainable agriculture. Our
    work is revolutionizing the cultivation of tropical crops, leading to
    enhanced sustainability, increased yields, and shaping the future of
    agriculture in the tropics." button_href="https://oridwanbello.github.io/"
    button_text="Learn More" %}
</section>

<section class="custom-feature-section">
    {% include custom_include.html type="alt" image_url="/images/dna_virus.jpg"
    image_alt="Ridwan Labs Profile" header_text="Ridwan Labs" paragraph_text="We
    are driving transformative changes through advanced research to unlock the
    full potential of tropical agriculture. We develop and apply the latest
    scientific advancements for more productive and sustainable agriculture. Our
    work is revolutionizing the cultivation of tropical crops, leading to
    enhanced sustainability, increased yields, and shaping the future of
    agriculture in the tropics." button_href="https://oridwanbello.github.io/"
    button_text="Learn More" %}
</section>
