{% if include.type == "alt" %}
<div class="custom-feature__item">
    <div class="custom-feature-alt__item--img">
        <img
            src="{{ include.image_url | relative_url }}"
            alt="{{ include.image_alt }}"
        />
    </div>
    <div class="custom-feature-alt__item--desc">
        <h3>{{ include.header_text }}</h3>
        <p>{{ include.paragraph_text | newline_to_br }}</p>
        <a href="{{ include.button_href }}" class="btn btn--primary"
            >{{ include.button_text | default: "Learn more" }}</a
        >
    </div>
</div>
{% else %}
<div class="custom-feature__item">
    <div class="custom-feature__item--img">
        <img
            src="{{ include.image_url | relative_url }}"
            alt="{{ include.image_alt }}"
        />
    </div>
    <div class="custom-feature__item--desc">
        <h3>{{ include.header_text }}</h3>
        <p>{{ include.paragraph_text | newline_to_br }}</p>
        <a href="{{ include.button_href }}" class="btn btn--primary"
            >{{ include.button_text | default: "Learn more" }}</a
        >
    </div>
</div>
{% endif %}
