/* PDF Viewer Styles ---------------------------------------------------------*/
.doc-page-container {
    padding: 20px 15px;
    box-sizing: border-box;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.doc-header {
    text-align: center;
    margin-bottom: 25px;
    flex-shrink: 0;
}

.doc-header h1 {
    font-size: 2.2rem;
    margin-top: 0;
    color: var(--custom-color-1);
}

.doc-viewer-and-button-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.pdf-viewer-wrapper {
    width: 80%;
    margin: 0 auto 25px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pdf-viewer {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.pdf-viewer iframe {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top left;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    flex-shrink: 0;
}

.download-button {
    background-color: var(--custom-color-1);
    color: var(--custom-color-4);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
    background-color: var(--custom-color-2);
    color: var(--global-black);
}

.doc-additional-content {
    margin-top: 30px;
    padding-top: 20px;
    flex-shrink: 0;
}

/* Responsive Design - Adjustments for mobile */
@media (max-width: 768px) {
    .doc-page-container {
        height: 80vh;
        padding: 15px 10px;
    }

    .doc-header h1 {
        font-size: 1.5rem;
    }

    .pdf-viewer-wrapper {
        width: 98%;
    }

    .pdf-viewer iframe {
        transform: scale(0.8);
        transform-origin: top left;
    }

    .download-button {
        padding: 8px 16px;
        /* Adjust button size for mobile */
        font-size: 0.9rem;
    }
}

/* Dark Mode Styles */
html[data-theme="dark"] .doc-header h1 {
    color: var(--custom-color-2);
    /* Title color in dark mode */
}

html[data-theme="dark"] .download-button {
    background-color: var(--custom-color-2);
    color: var(--global-black);
}

/* End of PDF Viewer Styles -------------------------------------------------*/